.card {
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
  padding: 20px;  
}
.member-title {
  font-family: $font-family-serif;
  font-size: $font-size-h4;
  color: $primary-color;
}
    
.member-position {
  font-weight: $font-weight-bold;
  color: $ci-1;
}

.member-abstract {
  color: $text-color;
}

.nav-logo {
  height: 50px;
  background-color: $topbar-bg;
  border-radius: 0px;
}

.masthead-title{
  background: rgba(0,0,0,0.5);
}

.alias-text{
  color: $ci-4;
  padding-left: 5px;
}